<footer class="page-footer blue darken-4">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Sígueme en</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/manuxo" target="blank"><i class="fa fa-github-square" aria-hidden="true"></i> Github</a></li>
                    <li><a href="https://twitter.com/alvaradomanue16" target="blank" class="grey-text text-lighten-3"><i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Enlaces</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Inicio</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Acerca de</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Blog</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Contacto</a></li>
                </ul>
            </div
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <p class="center">
                © 2018 Powered by 
                <a href="https://github.com/manuxo" style="text-decoration: none; color:inherit; font-weight: bold;" target="blank">MAE</a>
            </p>
        </div>
    </div>               
</footer>

