<header>
    <nav>
        <div class="nav-wrapper blue darken-4">
            <a href="#" class="brand-logo">
                MAE
            </a>
            <a href="#" data-target="side-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">Inicio</a></li>
                <li><a href="/">Acerca de</a></li>
                <li><a href="/">Blog</a></li>
                <li><a href="/">Contacto</a></li>
            </ul>
        </div>
    </nav>
    <ul class="sidenav blue lighten-5" id="side-mobile">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="/img/user-background.png">
                </div>
                <a href="#user"><img class="circle" src="/img/user.png"></a>
                <a href="#name"><span class="white-text name"><i class="material-icons">person</i> Manuel Alvarado Estanga</span></a>
                <a href="#email"><span class="white-text email"><i class="material-icons">email</i> alvarado.manuel@live.com</span></a>
            </div>
        </li>
        <li>
            <a href="https://github.com/manuxo" target="blank">
                <i class="material-icons">work</i> Desarrollador Web
            </a>
        </li>
        <li><div class="divider"></div></li>
        <li><a href="/">Inicio</a></li>
        <li><a href="/">Acerca de</a></li>
        <li><a href="/">Blog</a></li>
        <li><a href="/">Contacto</a></li>
    </ul>
</header>

